#signin-title{
    margin: 20px 10px 50px 10px;
    text-decoration: underline;
}

.signin-grouping{
    text-align: center;
    outline-width: small;
    border: 3pt solid black;
    border-radius: 10%;
    margin: 100px 400px;
    background-color: whitesmoke;
}

.signin-entry-combo{
    margin: 10px 0px;
}

.btn-holder{
    margin: 20px 0px;
}

#signin-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.panel-body{
    background-color: whitesmoke;
}

.faq-question{
    font-weight: bold;
    list-style-type: none;
}

.faq-answer{
    list-style-type: none;
}

.divider{
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.glyphicon {
    font-size: 15px;
}

/*This part below makes sure the navbar does not show when on the sign in page*/
.navbar.navbar-default.navbar-static-top{
    display:none;
}
