/* For tutorials, this is a good website to look at:
 https://www.w3schools.com/css/default.asp           */

.center-header {
    text-align: center;
    vertical-align: middle;
}

.title{
    margin: 10px;
    color: lightgreen;
}    

nav{
    background-color: lightgray;
    display: inline-block;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    float: left;
    margin: 10px 0px 0px 0px;
}

.topnav{
    overflow: hidden;
    background-color: black;
}

.topnav a{
    text-decoration: none;
    list-style-type: none;
    padding: 15px 20px;
    float: left;
    color: white;
}

.topnav a:active{
    background-color: cadetblue;
}
.topnav a:hover{
    background-color: lightblue;
}

.center-header {
    text-align: center;
    vertical-align: middle;
}

.navbar-text-padding{
    padding-top: 0px;
}

.glyphicon {
    font-size: 24px;
}

@media (min-width: 768px)
.navbar-right {
    float: right !important;
}