<!DOCTYPE html>
<html lang="en-US" ng-app="scApp">

<head>
    <title>Smart City System 1.0 - Account Settings</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--JS: Angular->App&Controller->Bootstrap -->
    <script src="../JS/angular/angular.js"></script>
    <script src="../JS/angular/angular-route.min.js"></script>

    <script type="text/javascript" src="../JS/app.js"></script>
    <script type="text/javascript" src="../JS/Controllers/accsetCtrl.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="../JS/Bootstrap_js/ui-bootstrap-tpls-2.5.0.min.js"></script>

    <!--CSS: Html-> Bootstrap -->
    <link rel="stylesheet" href="../bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../CSS/accsettings.css">

    <!-- Website Font style 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">-->

</head>


<body class="main-page" ng-controller="accsetCtrl">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header title-positioning">User Settings</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="navigator col-lg-4" style="padding-left: 30px;">
        <div class="sidebar-nav-fixed panel panel-default pull-left affix">
            <ul class="panel-body">
                <a href="#!account-settings" class="selectors col-md-12">Account Settings</a>
                <div class="divider"></div>
                <a href="#!notification-settings" class="selectors col-md-12">Notification Settings</a>
            </ul>
        </div>
    </div>

    <div class="container col-lg-8">
        <div class="row main">
            <div class="main-login main-center">
                <div align="center">
                    <h2>Account Information</h2>
                </div>
                <form class="" method="post" action="#">

                    <div class="form-group col-xs-12">
                        <label for="name" class="cols-sm-2 control-label">User ID</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" ng-model="username" name="name" id="name" placeholder="Choose a user ID" disabled />
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-xs-12">
                        <label for="name" class="cols-sm-2 control-label">Organization</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" ng-model="organization" name="organization" id="organization" placeholder="Choose an organization" disabled />
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-xs-12">
                        <label for="email" class="cols-sm-2 control-label">Your Email</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" ng-model="contactEmail" name="email" id="email" placeholder="Enter your Email" />
                            </div>
                        </div>
                    </div>

                    <!--<div class="form-group col-xs-6 padding-w-15 padding-right-0">
                        <label for="username" class="cols-sm-2 control-label">Username</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" ng-model="username" name="username" id="username" placeholder="Choose a Username" />
                            </div>
                        </div>
                    </div>-->

                    <div class="form-group col-xs-12">
                        <label for="password" class="cols-sm-2 control-label">Password</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input type="password" class="form-control" ng-model="password" name="password" id="password" placeholder="Choose a Password" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-xs-12">
                        <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input type="password" class="form-control" ng-model="confirmPassword" name="confirm" id="confirm" placeholder="Confirm Password" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-xs-12">
                        <label for="confirm" class="cols-sm-2 control-label">Contact Number (Optional)</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-phone fa-lg" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" ng-model="contactNumber" name="phoneNumber" id="phoneNumber" placeholder="Insert Only Numbers" />
                            </div>
                        </div>
                    </div>


                    <div class="form-group col-xs-6 padding-w-15 padding-left-0">
                        <label for="name" class="cols-sm-2 control-label">Green to Yellow Threshold (Percentage)</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-tint fa" aria-hidden="true"></i></span>
                                <input type="number" class="form-control" ng-model="gtythresh" value="30" placeholder="Choose a Green to Yellow Threshold Limit" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-xs-6 padding-w-15 padding-right-0">
                        <label for="name" class="cols-sm-2 control-label">Yellow to Red Threshold (Percentage)</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-tint fa" aria-hidden="true"></i></span>
                                <input type="number" class="form-control" ng-model="ytrthresh" value="60" placeholder="Choose a Yellow to Red Threshold Limit" />
                            </div>
                        </div>
                    </div>

                    <div style="visibility: hidden;">
                        <h6>This is dumb and removing this div causes format issues.</h6>
                    </div>

                    <div class="form-group ">
                        <type="button" id="button" ng-click="changeInfo()" class="btn btn-primary btn-lg btn-block login-button" />Save Information
                    </div>

                </form>

            </div>

        </div>
    </div>


    <!-- Metis Menu Plugin JavaScript -->
    <script src="../JS/Bootstrap_js/metisMenu.min.js"></script>

</body>

</html>
