<!DOCTYPE html>
<html lang="en-US" ng-app="scApp">

<head>
    <title>Smart City System 1.0 - Notifications</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!--JS: Angular->App&Controller->Bootstrap -->
    <script src="../JS/angular/angular.js"></script>
    <script src="../JS/angular/angular-route.min.js"></script>

    <script type="text/javascript" src="../JS/app.js"></script>
    <script type="text/javascript" src="../JS/Controllers/notifsetCtrl.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="../JS/Bootstrap_js/ui-bootstrap-tpls-2.5.0.min.js"></script>

    <!--CSS: Bootstrap -> Html -->
    <link rel="stylesheet" href="../bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../CSS/notifications.css">
</head>

<body class="main-body" ng-controller="notifsetCtrl">
    <div id="wrapper">

        <div class="col-lg-2">

        </div>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">User Settings</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <!-- /.row -->
            <div class="row">
                <div class="navigator col-lg-4">
                    <div class="sidebar-nav-fixed panel panel-default pull-left affix">
                        <ul class="panel-body">
                            <a href="#!account-settings" class="selectors col-md-12">Account Settings</a>
                            <div class="divider"></div>
                            <a href="#!notification-settings" class="selectors col-md-12">Notification Settings</a>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8">

                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw" ></i> <h5 class="center-header" style="color: aqua;">Notification Settings</h5>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <table class="table table-bordered  table-striped">
                                            <thead>
                                                <tr>
                                                    <th class="col-md-4 center-header">Notification Types</th>
                                                    <th class="col-md-4 center-header">Website Notifications</th>
                                                    <th class="col-md-4 center-header">Email Notification</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="center-header">Green to Yellow Threshold: </td>
                                                    <td><input class="form-control" type="checkbox" ng-model="checkboxes.gty_web" /></td>
                                                    <td><input class="form-control" type="checkbox" ng-model="checkboxes.gty_email" /></td>
                                                </tr>
                                                <tr>
                                                    <td class="center-header">Yellow to Red Threshold: </td>
                                                    <td><input class="form-control" type="checkbox" ng-model="checkboxes.ytr_web" name="website" /></td>
                                                    <td><input class="form-control" type="checkbox" ng-model="checkboxes.ytr_email" name="website" /></td>
                                                </tr>
                                                <tr>
                                                    <td class="center-header">Cleaned Catch Basin: </td>
                                                    <td><input class="form-control" type="checkbox" ng-model="checkboxes.clean_basin_web" name="website" /></td>
                                                    <td><input class="form-control" type="checkbox" ng-model="checkboxes.clean_basin_email" name="website" /></td>
                                                </tr>
                                                <tr>
                                                    <td class="center-header">GPS Updates: </td>
                                                    <td><input class="form-control" type="checkbox" ng-model="checkboxes.gps_update_web" name="website" /></td>
                                                    <td><input class="form-control" type="checkbox" ng-model="checkboxes.gps_update_email" name="website" /></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-xs-12">
                                            <button class="btn btn-primary" ng-click="saveNotif()" type="submit" style="color: aqua; width: 100%;">Save</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-xs-12 center-header">
                                            {{statustext}}
                                        </div>
                                    </div>
                                    <!-- Enter Inputs here -->
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.col-lg-4 (nested) -->
                                <div class="col-lg-8">
                                    <div id="morris-bar-chart"></div>
                                </div>
                                <!-- /.col-lg-8 (nested) -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->

                </div>
                <!-- /.col-lg-8 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../JS/Bootstrap_js/metisMenu.min.js"></script>
    <div>
        <!--Might have to make a table and display the format that Emilio wants-->
    </div>

</body>

</html>
