<!DOCTYPE html>
<html lang="en-US" ng-app="scApp">

<head>
    <title>Smart City System 1.0 - Register Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
    <!--JS: Angular->App&Controller->Bootstrap -->
    <script src="../JS/angular/angular.js"></script>
    <script src="../JS/angular/angular-route.min.js"></script>

    <script type="text/javascript" src="../JS/app.js"></script>
    <script type="text/javascript" src="../JS/Controllers/regaccCtrl.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="../JS/Bootstrap_js/ui-bootstrap-tpls-2.5.0.min.js"></script>

    <!--CSS: Html-> Bootstrap -->
    <link rel="stylesheet" href="../bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../CSS/regacc.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Website CSS style -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    
    
</head>

	<body ng-controller="regaccCtrl1">
		<div class="container">
			<div class="row main">
				<div class="main-login main-center">
                <div align = "center">
				<h2>Account Registration</h2>
                </div>
					<form class="" method="post" action="#">

						<div class="form-group col-xs-12">
							<label for="name" class="cols-sm-2 control-label">User ID</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" ng-model="userID" name="name" id="name"  placeholder="Choose a user ID"/>
								</div>
							</div>
						</div>

						<div class="form-group col-xs-6 padding-w-15 padding-left-0">
							<label for="email" class="cols-sm-2 control-label">Your Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" ng-model="contactEmail" name="email" id="email"  placeholder="Enter your Email"/>
								</div>
							</div>
						</div>

						<div class="form-group col-xs-6 padding-w-15 padding-right-0">
							<label for="username" class="cols-sm-2 control-label">Username</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" ng-model="username" name="username" id="username"  placeholder="Choose a Username"/>
								</div>
							</div>
						</div>

						<div class="form-group col-xs-12">
							<label for="password" class="cols-sm-2 control-label">Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" ng-model="password" name="password" id="password"  placeholder="Choose a Password"/>
								</div>
							</div>
						</div>

						<div class="form-group col-xs-12">
							<label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" ng-model="confirmPassword" name="confirm" id="confirm"  placeholder="Confirm Password"/>
								</div>
							</div>
						</div>

						<div class="form-group col-xs-12">
							<label for="confirm" class="cols-sm-2 control-label">Contact Number (Optional)</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-phone fa-lg" aria-hidden="true"></i></span>
									<input type="text" class="form-control" ng-model="contactNumber" name="phoneNumber" id="phoneNumber"  placeholder="Enter Phone Number"/>
								</div>
							</div>
						</div>


						<div class="form-group col-xs-6 padding-w-15 padding-left-0">
							<label for="name" class="cols-sm-2 control-label">Green to Yellow Threshold (Percentage)</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-tint fa" aria-hidden="true"></i></span>
									<input type="number" class="form-control" ng-model="gtythresh" value="30" max="99"  placeholder="Choose a Green to Yellow Threshold Limit"/>
								</div>
							</div>
						</div>

						<div class="form-group col-xs-6 padding-w-15 padding-right-0">
							<label for="name" class="cols-sm-2 control-label">Yellow to Red Threshold (Percentage)</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-tint fa" aria-hidden="true"></i></span>
									<input type="number" class="form-control" ng-model="ytrthresh" value="60" max="99"  placeholder="Choose a Yellow to Red Threshold Limit"/>
								</div>
							</div>
						</div>

						<div style="visibility: hidden;">
							<h6>This is dumb and removing this div causes format issues.</h6>
						</div>

						<div class="form-group ">
							<type="button" id="button" ng-click="register()" class="btn btn-primary btn-lg btn-block login-button"/>Register
						</div>

					</form>
				</div>
			</div>
		</div>

		 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

        <script>
            var scApp = angular.module("scApp", []);

            scApp.controller("regaccCtrl", function($scope) {
                $scope.userID = "";
                $scope.username = "";
                $scope.password = "";
                $scope.contactEmail = "";
                $scope.contactNumber = "";
                $scope.gtythresh = 30;
                $scope.ytrthresh = 60;
                $scope.ccn = false;
                $scope.email = false;
                $scope.sms = false;

                $scope.register = function() {
                    $scope.hasRegistered = $scope.userID + ", " + $scope.username + ", " + $scope.password + ", " + $scope.contactEmail + ", " + $scope.contactNumber + ", " + (+$scope.gtythresh + +$scope.ytrthresh) + ", " + $scope.ccn + ", " + $scope.email + ", " + $scope.sms;
                }

            });

        </script>
    </body>

</html>
