<!DOCTYPE html>
<html ng-app="scApp">

<head>
    <title>Testing File</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!--JS: Angular->App&Controller->Bootstrap -->
    <script src="../JS/angular/angular.js"></script>
    <script src="../JS/angular/angular-route.min.js"></script>

    <script type="text/javascript" src="../JS/app.js"></script>
    <script src="../JS/Controllers/subusersCtrl.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="../JS/Bootstrap_js/ui-bootstrap-tpls-2.5.0.min.js"></script>

    <!--CSS: Bootstrap -> Custom CSS -->
    <link rel="stylesheet" href="../bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../CSS/subusers.css">

</head>

<body ng-controller="subusersCtrl">


    <div id="wrapper">
        <div class="col-lg-2">

        </div>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Users and Devices
                    </h1>
                </div>

                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>Below is the list of users under you. To register a new user, select the "Register" brutton. </p>
                    <p>To assign a device, select all the users you wish to assign a device to, then select all the devices you wish to assign to those users, and finally click the "Assign Devices" button.</p>
                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-12">

                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <!--<div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Registered Devices
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Sort by Serial Number</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>-->
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <button class="btn btn-primary special-btn pull-left" type="button"><a href="#!register-account">Add User</a></button>
                                    <button class="btn btn-primary checker-btn pull-right" type="button" ng-click="deselectAllSubs()">Uncheck All</button>
                                    <button class="btn btn-primary checker-btn pull-right" type="button" ng-click="selectAllSubs()" style="margin-left: 100px;">Check All</button>
                                </div>
                                <div class="col-lg-6">
                                    <button class="btn btn-primary special-btn pull-left" type="button" ng-click="submitAssignments()">Assign Devices to Users</button> <span class="" style="color:red; padding-left: 21px;">{{databaseResponse}}</span> 
                                    <button class="btn btn-primary checker-btn pull-right" type="button" ng-click="deselectAllDevs()">Uncheck All</button>
                                    <button class="btn btn-primary checker-btn pull-right" type="button" ng-click="selectAllDevs()">Check All</button>
                                    
                                </div>
                                
                            </div>
                            
                            <div class="row" style="margin-top: 0px; padding-top: 0px;">
                                <div class="col-lg-6">
                                    <h1 class="page-header">Users List</h1>
                                    <!--<div class="list-group" ng-repeat="sub in subUsersList">
                                        <a href="#" class="list-group-item"><input class="check-position" type="checkbox"><span class="text-position">{{sub.username}}</span> <button class="btn btn-primary modify pull-right" type="button">Modify</button></a>
                                    </div>-->

                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th class="col-md-1 center-header">Select</th>
                                                    <th class="col-md-1 center-header">Permission</th>
                                                    <th class="col-md-4 center-header">User Username</th>
                                                    <th class="col-md-5 center-header">User Organization</th>
                                                    <th class="col-md-5 center-header">Modify</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="sub in subUsersList">
                                                    <td class="center-header"><input class="check-position" type="checkbox" value="{{sub.username}}" ng-checked="subUsersChecked.indexOf(sub.username) > -1" ng-click="selectSub(sub)">
                                                    </td>
                                                    <td class="center-header">{{sub.permission}}
                                                    </td>
                                                    <td class="center-header">{{sub.username}}
                                                    </td>
                                                    <td class="center-header">{{sub.organization}}
                                                    </td>
                                                    <td class="center-header"><button class="btn btn-primary modify pull-right" type="button" ng-click="modifySub(sub)">Modify</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>

                                <div class="col-lg-6">
                                    <h1 class="page-header">Device List </h1>
                                    
                                    <!--<div class="list-group" ng-repeat="sub in subUsersList">
                                        <a href="#" class="list-group-item"><input class="check-position" type="checkbox"><span class="text-position">{{sub.username}}</span> <button class="btn btn-primary modify pull-right" type="button">Modify</button></a>
                                    </div>-->

                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th class="col-md-1 center-header">Select</th>
                                                    <th class="col-md-6 center-header">Device Identifier</th>
                                                    <th class="col-md-5 center-header">Device Type</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="dev in allDevicesList">
                                                    <td class="center-header"><input class="check-position" type="checkbox" value="{{dev.identifier}}" ng-checked="devicesChecked.indexOf(dev.identifier) > -1" ng-click="selectDev(dev)">
                                                    </td>
                                                    <td class="center-header">{{dev.identifier}}
                                                    </td>
                                                    <td class="center-header">{{dev.device_type}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                                <!-- /.col-lg-4 (nested) -->
                                <div class="col-lg-8">
                                    <div id="morris-bar-chart"></div>
                                </div>
                                <!-- /.col-lg-8 (nested) -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../JS/Bootstrap_js/metisMenu.min.js"></script>


    <!-- Custom Theme JavaScript -->
    <!--<script src="../dist/js/sb-admin-2.js"></script>-->
</body>

</html>
